<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Prehistoric creatures</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="css/main.css" rel="stylesheet">
</head>
<body>

  <header>
    <strong>Preshistoric creatures</strong>
    <nav>
      <ul>
        <li><a href="{{site.baseurl}}/">Home</a></li>
        <li><a href="{{site.baseurl}}/dinosaurs/">Dinosaurs</a></li>
      </ul>
    </nav>
  </header>

  <main>
    {{content}}
  </main>

</body>
</html>
